<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/game.css">
    <title>Salvo Game</title>
</head>

<body class="body-game">
    <div id="app" class="allbody">

        <header class="title">
            <div class="playerstitle">
                <h3>Current Player: {{currentPlayer.email}}</h3>
            </div>

            <div class="marcador">
                <div class="scores">
                    <h4>Local</h4>
                    <h1>{{currentScore}}</h1>
                </div>
                <div class="scores">SCORE</div>
                <div class="scores">
                    <h4>Visitor</h4>
                    <h1>{{opponentScore}}</h1>
                </div>
            </div>

            <div class="playerstitle">
                <h3>Opponent Player: {{opponentPlayer.email}}</h3>
            </div>
        </header>

        <main class="allbody">

            <div>
                <form id="logout-form" onsubmit="return false">
                    <button v-if="ships.length == 0" class="btn btn-primary btn-md" @click="placeShips()">Place ships</button>
                    <button class="btn btn-primary btn-md"> <a href="games.html">Leave game</a></button>
                    <button class="btn btn-primary btn-md" @click="logout">Log out</button>
                </form>
            </div>

            <div class="tables">
                <table class="table1">
                    <thead>
                        <th class="th" v-for="value in numeros">{{value}}</th>
                    </thead>
                    <tbody>
                        <tr class="tr" v-for="letter in letters">
                            <td class="cells letras">{{letter}}</td>
                            <td class="cells" v-for="i in 10" v-bind:id="letter+i" @drop="drop_handler" @dragover="dragover_handler"
                                @dragenter="dragenter_handler"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="middle" v-if="ships.length != 0">
                    <button v-if="bombs == 0" class="btn btn-primary btn-md" @click="placeSalvo">Fire!</button>
                    <p>Click and Aim</p>
                    <button class="bomb" @click="setBomb()"></button>
                    <p>x{{bombs}} bombs</p>

                    <ul>
                        <li class="textBlack">HITS ON YOU</li>
                     <li v-for="(ship, index) in shipLives" >({{ship}}){{index}}</li>
                    </ul>

                </div>

                <table class="table1">
                    <thead>
                        <th class="th" v-for="value in numeros">{{value}}</th>
                    </thead>
                    <tbody id="pointer">
                        <tr class="tr" v-for="letter in letters">
                            <td class="cells letras">{{letter}}</td>
                            <td class="cells" v-for="i in 10" v-bind:id="2+letter+i" @click="addSalvo(2+letter+i)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container-fluid" v-if="ships.length == 0">
                <div class="AircraftCarrier" data-size="5" data-pos="horizontal" id="AircraftCarrier" draggable="true"
                    @dragstart="dragstart_handler" @dragend="dragend_handler"><button class="rotar" @click="rotate(AircraftCarrier)"></button></div>
                <div class="Submarine" data-size="3" data-pos="horizontal" id="Submarine" draggable="true" @dragstart="dragstart_handler"
                    @dragend="dragend_handler"><button class="rotar" @click="rotate(Submarine)"></button></div>
                <div class="Battleship" data-size="4" data-pos="horizontal" id="Battleship" draggable="true" @dragstart="dragstart_handler"
                    @dragend="dragend_handler"><button class="rotar" @click="rotate(Battleship)"></button></div>
                <div class="Destroyer" data-size="3" data-pos="horizontal" id="Destroyer" draggable="true" @dragstart="dragstart_handler"
                    @dragend="dragend_handler"><button class="rotar" @click="rotate(Destroyer)"></button></div>
                <div class="PatrolBoat" data-size="2" data-pos="horizontal" id="PatrolBoat" draggable="true" @dragstart="dragstart_handler"
                    @dragend="dragend_handler"><button class="rotar" @click="rotate(PatrolBoat)"></button></div>

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/scripts/game.js"></script>
</body>

</html>