@font-face {
  font-family: 'seasrn';
  src: url('seasrn__.woff');
  src: url('seasrn__.woff') format('eot'),
    url('seasrn__.woff') format('woff'),
    url('seasrn__.woff') format('truetype'),
    url('seasrn__.woff') format('svg');
}

/*-----TITLE----*/

.logoSalvo {
  width: 100px;
  height: 100px;
}

.logo {
  width: 100px;
  height: 100px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 140px;
  color: white;
}

.playerstitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
}

.playerstitle>h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(77, 77, 77);
  opacity: 0.9;
  font-family: arcade;
  padding: 5px;
  color: yellow;
  border: 2px solid black;
}

.marcador {
  display: flex;
  width: 20%;
}

.scores {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: rgb(77, 77, 77);
  opacity: 0.9;
  border: 2px solid black;
}

.scores>h4 {
  border: 1px dotted white;
  color: red;
  padding-left: 4px;
  width: 60px;
  height: 20px;
}

.scores>h1 {
  font-family: arcade;
  color: yellow;
  font-size: 40px;
  border: 1px dotted white;
  padding-left: 4px;
  width: 60px;
  height: 40px;
}

/*-----------BODY--------*/
/*-------LOGIN------*/
form{
  width: 100%;
}

#logout-form{
width: 100%;
}

.log {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: black;
}

input {
  color: darkblue;
}

button {
  background-color: black;
  color: white;
}

a {
  color: white;
}

.textBlack {
  text-align: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
  color: black;
}

.body-games {
  width: 100%;
  padding: 10px;
  background-image: url("img/fondo.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.body-game {
  background-image: url("img/fondoOscuro.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.allbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.content {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.content65 {
  width: 65%;
}

.middle{
  border: 2px solid black;
  background-color: rgb(77, 77, 77);
  opacity: 0.9;
  width: 180px;
  height: 440px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*-----TABLES------*/

.table-bordered {
  width: 50%;
  height: 200px;
  color: white;
  background-color: black;
  opacity: 0.7;
}

.tables {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.table1 {
  background-image: url(https://media.giphy.com/media/VuehuL4fMHLgs/giphy.gif);
  background-position: center;
  background-size: 800px;
  background-repeat: no-repeat;
  table-layout: fixed;
  border: 2px solid black;
  width: 440px;
  height: 440px;
}

.th {
  background-color: rgb(77, 77, 77);
  opacity: 0.9;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

th {
  width: 40px;
  height: 40px;
  text-align: center;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
}

.cells {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  padding: 0px;
}

.letras {
  background-color: rgb(77, 77, 77);
  opacity: 0.9;
  padding: 0px;
}

.destroyed {
  text-decoration-line: line-through;
  color: red;
}

.barcos{
  background-color: steelblue;
}

.water {
  position: relative;
  text-align: center;
  border: 2px solid black;
  width: 39px;
  height: 39px;
  background-image: url(https://media.giphy.com/media/JXHhI4o9NCf8k/giphy.gif);
  background-size: contain;
  background-position: center;
}

.rotar {
  display: flex;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/*--------LIST---------*/
.list-group {
  width: 50%;
  background-color: black;
  opacity: 0.7;
}

.list-group-item {
  width: 100%;
  background-color: transparent;
  color: white;
}

/*---------SHIPS---------*/

.AircraftCarrier {
  width: 199px;
  height: 39px;
  background-image: url(/styles/img/barco1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.AircraftCarrier-v {
  width: 199px;
  height: 39px;
  background-image: url(/styles/img/barco1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px dashed yellowgreen;
  cursor: pointer;
  -webkit-transform: translateY(-100%) rotate(90deg);
  /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg);
  /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg);
  /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg);
  /* Opera */
  transform: translateY(-100%) rotate(90deg);
  /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.Battleship {
  width: 159px;
  background-image: url(/styles/img/barco2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.Battleship-v {
  width: 159px;
  background-image: url(/styles/img/barco2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
  -webkit-transform: translateY(-100%) rotate(90deg);
  /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg);
  /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg);
  /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg);
  /* Opera */
  transform: translateY(-100%) rotate(90deg);
  /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.Submarine {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/styles/img/barco3.png);
  width: 119px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.Submarine-v {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/styles/img/barco3.png);
  width: 119px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
  -webkit-transform: translateY(-100%) rotate(90deg);
  /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg);
  /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg);
  /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg);
  /* Opera */
  transform: translateY(-100%) rotate(90deg);
  /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.Destroyer {
  background-image: url(/styles/img/barco4.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 119px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.Destroyer-v {
  background-image: url(/styles/img/barco4.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 119px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
  -webkit-transform: translateY(-100%) rotate(90deg);
  /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg);
  /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg);
  /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg);
  /* Opera */
  transform: translateY(-100%) rotate(90deg);
  /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.PatrolBoat {
  background-image: url(/styles/img/barco5-correcccion.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 79px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.PatrolBoat-v {
  background-image: url(/styles/img/barco5-correcccion.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 79px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
  -webkit-transform: translateY(-100%) rotate(90deg);
  /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg);
  /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg);
  /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg);
  /* Opera */
  transform: translateY(-100%) rotate(90deg);
  /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

/*-------DRAG AND DROP------*/

.invisible {
  display: none;
}

.coloredCell {
  border: 2px solid black;
  width: 39px;
  height: 39px;
  text-align: center;
  padding: 0px;
  background-color: rgb(73, 226, 43);
}

.coloredRedCell {
  border: 2px solid black;
  width: 39px;
  height: 39px;
  text-align: center;
  padding: 0px;
  background-color: rgb(228, 15, 15);
}

.bomb {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-image: url(img/bomba1.png);
  background-position: center;
  background-size: cover;
}

.shoot {
  width: 39px;
  height: 39px;
  background-image: url(https://media.giphy.com/media/FnatKdwxRxpVC/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.url {
  cursor: crosshair;
}