@font-face {
  font-family: 'seasrn';
  src: url('seasrn__.woff');
  src: url('seasrn__.woff') format('eot'),
    url('seasrn__.woff') format('woff'),
    url('seasrn__.woff') format('truetype'),
    url('seasrn__.woff') format('svg');
}

/*-----TITLE----*/

.logoSalvo {
  width: 100px;
  height: 100px;
}

.logo {
  width: 100px;
  height: 100px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 150px;
  color: white;
}

.playerstitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
}

.playerstitle>h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: black;
  font-family: arcade;
  padding: 5px;
  color: yellow;
  border: 2px dotted white;
}

.marcador {
  display: flex;
  width: 20%;
}

.scores {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: black;
  border: 2px dotted white;
}

.scores>h4 {
  border: 1px dotted white;
  color: red;
  padding-left: 4px;
  width: 60px;
  height: 20px;
}

.scores>h1 {
  font-family: arcade;
  color: yellow;
  font-size: 40px;
  border: 1px dotted white;
  padding-left: 4px;
  width: 60px;
  height: 40px;
}

/*-----------BODY--------*/
/*-------LOGIN------*/
.log {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: black;
}

input {
  color: darkblue;
}

button {
  background-color: darkblue;
  color: white;
}

a {
  color: white;
}

.textBlack {
  color: black;
}

.body-games {
  background-image: url("img/fondo.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.body-game {
  background-image: url("img/fondo.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.allbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.content65 {
  width: 65%;
}

/*-----TABLES------*/

.table-bordered {
  width: 50%;
  height: 200px;
  color: white;
  background-color: black;
  opacity: 0.6;
}

.tables {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.table1 {
  table-layout: fixed;
  background-image: url("img/mar.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  width: 35%;
}

.th {
  background-color: rgb(77, 77, 77);
  border: 2px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.cells {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px;
}

.letras {
  background-color: rgb(77, 77, 77);
  padding: 0px;
}

.barco {
  border: 2px solid black;
  width: 39px;
  height: 39px;
  background-image: url("img/pirate_ship.png");
  background-size: cover;
  background-position: center;
}

.shoot {
  text-align: center;
  border: 2px solid black;
  width: 39px;
  height: 39px;
  background-image: url("https://media.giphy.com/media/oe33xf3B50fsc/giphy.gif");
  background-size: contain;
  background-position: center;
}

/*--------LIST---------*/
.list-group {
  width: 50%;
  background-color: black;
  opacity: 0.6;
}

.list-group-item {
  width: 100%;
  background-color: transparent;
  color: white;
}

/*---------SHIPS---------*/

.locateShips {
  width: 20%;
}

.aircraftCarrier {
  width: 199px;
  height: 39px;
  background-image: url(/styles/img/kisspng-warship-freedom-class-littoral-combat-ship-uss-fre-ship-5ac0bd64ad2213.0868376015225808367092\ \(1\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.battleship {
  width: 159px;
  background-image: url(/styles/img/kisspng-watercraft-cruise-ship-navigation-5a6cd94f55b0c1.918367711517082959351.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.submarine {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/styles/img/kisspng-enforcer-amphibious-transport-dock-amphibious-warf-littorioclass-battleship-5b06d0b04fff30.7179860215271732963277.png);
  width: 119px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.destroyer {
  background-image: url(/styles/img/kisspng-warship-freedom-class-littoral-combat-ship-uss-fre-ship-5ac0bd64ad2213.0868376015225808367092.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 119px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

.patrolBoat {
  background-image: url(/styles/img/kisspng-frigate-ship-patrol-boat-drawing-fast-attack-craft-corvette-5ac6d52508bed0.7711393015229801330359.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 79px;
  height: 39px;
  border: 2px dashed yellowgreen;
  cursor: pointer;
}

/*-------DRAG AND DROP------*/

.invisible {
  display: none;
}

.coloredCell {
  border: 2px solid black;
  width: 39px;
  height: 39px;
  text-align: center;
  padding: 0px;
  background-color: rgb(73, 226, 43);
}